{% extends 'base.html' %}
{% load i18n static admin_adminlte %}

{% block title %} Doctor Add {% endblock title %}
{% block bodyclass %} Doctor Add {% endblock bodyclass %}

{% block content %}
<div class="container">
    <div class="d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 120px);">
        <div class="row w-100 justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card shadow-sm">
                    <div class="card-body p-4 text-center">

                        <!-- Heading -->
                        <h3 class="mb-4">Add doctor</h3>

                        <form method="post" action="{% url 'doctor_save' %}" enctype="multipart/form-data" autocomplete="off">
                            {% csrf_token %}

                            <!-- Username Field -->
                            <div class="form-group text-left">
                                <label for="{{ form.user.id_for_label }}">User</label>
                                <select class="form-control" id="user" name="user" required>
                                        <option value="">Select User</option>
                                        {% for user in users %}
                                            <option value="{{ user.id }}">{{ user.username }}</option>
                                        {% endfor %}
                                </select>
                            </div>

                            
                            <div class="form-group text-left">
                                <label for="{{ form.fees.id_for_label }}">Fees</label>
                                <input type="number" class="form-control" 
                                    name="fees" 
                                    id="fees" 
                                    placeholder="Enter Fees">
                            </div>                            
                    
                            
                            <div class="form-group text-left">
                                <label for="{{ form.specialization.id_for_label }}">Specialization</label>
                                <input type="text" class="form-control" 
                                    name="specialization" 
                                    id="specialization" 
                                    placeholder="Enter specialization">
                            </div>                            
            
                            <div class="form-group">
                                <label for="image">Profile Image</label>
                                <input type="file" class="form-control" id="image" name="image">
                            </div>

                            <!-- Remember Me -->
                            <div class="form-group form-check text-left">
                                <input type="checkbox" class="form-check-input" id="remember" name="remember">
                                <label class="form-check-label" for="remember">Remember Me</label>
                            </div>

                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-white btn-block" style="background-color:#134e4a; color:white;">Add Doctor</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
