{% load static %}

<footer class="main-footer bg-gray-900 text-gray-300 py-4 px-6 shadow-inner mt-10 rounded-t-md">
  <div class="flex flex-col sm:flex-row justify-between items-center text-sm">

    <div>
      <strong>&copy; 2025 <span class="text-white font-medium">VisionCare Admin Panel</span></strong>
    </div>

    <div class="mt-2 sm:mt-0">
      <a href="{% url 'home' %}" class="hover:text-orange-400 transition">Home</a>
      <span class="mx-2">|</span>
      <a href="{% url 'services' %}" class="hover:text-orange-400 transition">Services</a>
      <span class="mx-2">|</span>
      <a href="{% url 'consultation_form' %}" class="hover:text-orange-400 transition">Check Symptoms</a>
      <span class="mx-2">|</span>
      <a href="{% url 'contact' %}" class="hover:text-orange-400 transition">Contact</a>
      <span class="mx-2">|</span>
      
    </div>

  </div>
</footer>
