{% load i18n static admin_adminlte %}

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library -->

    {% admin_get_menu as app_list %}
      {% if app_list %}
        {% for app in app_list %}
          {% if app.has_perms and not app.pinned %}
            {% if app.label != "Authentication and Authorization" and app.label != "Users" and app.label != "Patients" %}
              <li class="nav-item {% if 'dashboard' in parent %} menu-open {% endif %}">
                <a class="nav-link {% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed{% endif %}"
                  data-bs-toggle="collapse" data-bs-target="#submenu-{{ app.app_label }}" href="{{ app.url }}">
                  <i class="nav-icon {{ app.icon }}"></i>
                  <p>
                    {{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
            
                {% if app.models %}
                  <ul class="nav nav-treeview">
                    {% for model in app.models %}
                      {% if model.url %}
                        <li class="nav-item">
                          <a class="nav-link {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}"
                            href="{{ model.url }}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>{{ model.label }}</p>
                          </a>
                        </li>
                      {% else %}
                        <li class="nav-item">{{ model.label }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

    
      {% if user.is_authenticated %}
        <!-- Dashboard -->
        <li class="nav-item">
          <a href="{% url 'dashboard_users' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard_users' %}active{% endif %} text-white">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <!-- User List -->
        <li class="nav-item">
          <a href="{% url 'user_list' %}" class="nav-link {% if request.resolver_match.url_name == 'user_list' %}active{% endif %} text-white">
            <i class="nav-icon fas fa-users"></i>
            <p>User List</p>
          </a>
        </li>

          <!-- Doctor Menu Tree -->
        <li class="nav-item">
          <a href="{% url 'doctor_list' %}" class="nav-link {% if request.resolver_match.url_name == 'doctor_list' %}active{% endif %} text-white">
            <i class="nav-icon fas fa-user-md"></i>
            <p>Doctors List</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'patients_list' %}" class="nav-link {% if request.resolver_match.url_name == 'patients_list' %}active{% endif %} text-white">
            <i class="nav-icon fas fa-user-md"></i>
            <p>Patients List</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'consultation_list' %}" class="nav-link {% if request.resolver_match.url_name == 'consultation_list' %}active{% endif %} text-white">
            <i class="nav-icon fas fa-user-md"></i>
            <p>Consultation List</p>
          </a>
        </li>
        <!-- Logout -->
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link text-white">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
{% endif %}

